 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';


$yellow: HSLA(58, 100%, 75%, 1);



// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
 
  h1{
    text-align: center; 
    font-size: 80px;
    
  }
  h2{
    text-align: center;
    
  }
}
.greeting{
  margin-bottom: -10px;
}
.name{
  margin: 0 auto;
}
.webDev{
  margin-top: 0px;
}

.navBar{
  text-align: center;
  .nav{
    border: 1px solid black;
    padding: 8px 10px;
  }
}

.nav:hover{
  background-color: $yellow;
}