 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';


$yellow: HSLA(58, 100%, 75%, 1);
$height: 600px;



/*hero unit section*/
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  height: $height;
 
  h1{
    text-align: center; 
    font-size: 80px;
    
  }
  h2{
    text-align: center;
    
  }
} 
/*end hero-unit*/


.greeting{
  margin-bottom: -10px;
}
.name{
  margin: 0 auto;
}
.webDev{
  margin-top: 0px;
}

.navBar{
  text-align: center;
  margin-top: 50px;
  .nav{
    border: 1px solid black;
    padding: 8px 10px;
    margin: 0px 15px;
  }
}

.nav:hover{
  background-color: $yellow;
}



/*about me section*/
.aboutSection{
  width: 100%;
  height: $height;
  background-color: black;
  color: white;
}

/*end about me section*/




/*work section*/

/*end work section*/
.workSection{
  height: $height;
}




/*cv section*/
.cvSection{
  height: $height;
  background-color: black;
  color: white;
}
/*end cv section*/





/*contact section*/
.contactSection{
  height: $height;
}
/*end contact section*/
